body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 900;
}
p {
    font-size: .8rem;
}
#spacing {
    padding: 1% 15%;
}
.dev {
    color:#2f9b85;
    font-weight: 500;
}

/* Navigation Section */
.branding {
    font-weight: 900;
}
#navigate{
    padding: 0 15%;
}
.navbar-nav .nav-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    padding: 0 2px 2px 2px;
    margin: 10px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    top: 0;
    border-radius: 5px;
}
.navbar-nav .nav-item:hover {
    background: #009578;
    color: white;
}

.button2 {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.button2:hover {
    background: #008168;
}
.button2:active {
    background: #006e58;
}
.button_text,
.button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
    font-size: .8rem;
}
.button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}
/* About US */
.info-sec .info-image {
    border-radius: 5px;
}

/* Skills */
.service-one .fa {
    color: #008168;
}

/* Footer Section */
.footer-info {
    margin-top: 100px;
}
.f-sector {
    background-color: #008168;
}
form {
    padding: 50px;
}

.newsletter button{
    text-decoration: none;
    background-color: #fff;
    border: none;
}
.subscribe,
.newsletter {
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.newsletter {
    background-color:#2f9b85;
    box-shadow: 4px 4px  yellow;
    color: #fff;
}
.newsletter:hover {
    background-color:#008168;
}
.icons {
    margin:30px 10px;
}
.icon .fa-brands{
    margin:5px 10px;
    display: inline-block;
    color:#008168 ;
    font-size: 1.5rem;
}

/* Other Stuffs Going On lol */
body {
    transform: scale(0.5);
    transition: transform 0.5s ease-in-out;
    opacity: 0;
  }
  
  body.loaded {
    transform: scale(1);
    opacity: 1;
  }
  

@media screen and (max-width:1000px){
    img {
        width: 100%;
    }
   
}  
    
